---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 140

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  PadOperators: true